@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}
html, body {
  overflow-x: hidden;
}

@layer base {
  :root {
    --white: #ffffff;
    --white-80: #fdfcfc;
    --white-40: #fff8f8;
    /* --primary: #f7f7f7;  */
    --primary: #f2f2f2;
    --black: #000000;
    --blue: #007bff;
    --blue-hover: #0056b3;
    --orange: #ff8000;
    --red: red;
    --red-hover: #CC0000;
    --orange-hover: #d66b00;
    /* --link: #00e; */
    --link: #2874f0;
    --grey: #999999;
    --border: #cccccc;
    --green: #26a541;
  }
  .dark {
  }
}

.font-semibold {
  font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 8px 0;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.dropdown-menu li:hover {
  background: #f3f3f3;
}
@media (min-width: 1024px) { /* Large screens */
  .img-container {
    max-height: 250px;
  }
}

@media (min-width: 1280px) { /* Extra large screens */
  .img-container {
    max-height: 200px;
  }
}
